@use 'variables' as v;

body{
    font-family: v.$font;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: v.$cream;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

html {
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.footer{
    width: 100%;
    text-align: center;
}
