/*fonts*/
$font: "DM Sans", sans-serif;

/*colors*/
$orange: rgb(236, 119, 95);
$orange-light: rgb(255, 250, 245);
$cyan: rgb(118, 181, 188);
$brown-dark: rgb(56, 35, 20);
$brown-medium: rgb(147, 134, 123);
$cream: rgb(248, 233, 221);

/*measures*/
$font-size-body: 1.125rem; 